/* Add styling here */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2c2c2c;
    color: #fff;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #5e5e5e;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
}

.header-text {
    font-family: 'Varela Round', sans-serif;
    font-size: 2em;
    display: inline-block;
}

header a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

header img {
    max-width: 50%;
}

h2 {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
}

.text {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

ol {
    font-family: "Varela Round", sans-serif;
}

img:not(header img):not(footer img) {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a {
    color: #2878bc
}

#top-button {
    background-color: #cccccc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
    font-size: 1.5rem;
    transition: transform 0.5s ease-in-out;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#top-button.fa.fa-arrow-up{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
}
#top-button:hover {
    background-color: #999;
    transform: rotate(360deg);
}
#top-button:active {
    background-color: #666;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4b4b4b;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

footer img {
    max-width: 50%;
}